.item-page {
  min-height: 500px;
}

.back-icon {
  position: relative;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: 10px;
  opacity: 0.8;
  text-decoration: none;
}

.back-icon > a {
  position: relative;
  display: flex;
  color: #666;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.share-icon{
  position: relative;
  background-color: white;
  padding: 10px 10px;
  border-radius: 100%;
  margin: 10px;
  opacity: 0.8;
}

.control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  max-width: 800px;
  top:0;
  z-index: 1;
}

picture {
  width: 100%;
  max-height: 85vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius:0 0 4em 4em;
  position: relative;
  top: -5px;
}

picture > img {
  border-radius:0 0 3em 3em;
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 400px;
}

.item-container {
  text-align: left;
  padding: 10px;
  width: 80%;
}

.item-size-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  border-radius: 5px;
  border: solid #dedede 1px;
  flex-flow: column;
  margin-bottom: 20px;
}

.item-valor {
  font-weight: 400;
  font-size: 19.5px;
  color: #606060;
}

.item-description {
  position: relative;
  min-height: 50px;
  font-weight: 400;
  font-size: 17.6px;
  color: #606060;
  letter-spacing: .2px;
  white-space: pre-line;
}

.item-description > p {
  padding: 0;
  margin: 0;
}

.subtitle-box {
  display: flex;
  justify-content: space-between;
}

.options {
  display: contents;
}

.container-size {
  margin-bottom: 55px;
}

.item-header.item-size-header {
  justify-content: space-between;
  padding: 10px;
}

.item-size-name {
  text-align: left;
}

.item-type-info {
  background-color: #00c700;
  color: white;
  font-weight: bold;
  padding: 7px;
  border-radius: 20px;
  font-size: 10px;
  opacity: 0.7;
  text-transform: uppercase;
}

.subtitle {
  margin: 2px;
  font-size: 15px;
  padding: 5px;
  font-weight: 300;
}

.item-info.size-body-box {
  padding: 12px 0;
}

.title-subtitle-box {
  margin: 0 0 0 10px;
}

.title-subtitle-box > .check-title {
  font-weight: 600;
}

.price {
  font-weight: 600;
  padding: 5px 0;
}

.border-input > label {
  position: relative;
  bottom: 15px;
}

.title-subtitle-box > .check-subtitle {
  font-size: 14px;
  font-weight: 300;
}

.next-button-box {
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.952);
  box-shadow: 0 -1px 3px 0.1px rgb(165, 165, 165);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.next-button {
  text-decoration: none;
  color: white;
  margin: 10px;
  background-color: #00c700;
  text-wrap: nowrap ;
  border-radius: 5px;
  width: 400px;
}

