

.danger {
  background-color: #dc3545;
  color: white;
  border: none;
}

.ant-btn-lg, .ant-btn-primary {
  background-color: #00c700 !important;
}

.ant-btn-lg:active, .ant-btn-primary:active {
  background-color: #00c700 !important;
  opacity: var(--bs-btn-disabled-opacity);
}

.active {
  opacity: 1;
  cursor: pointer;
}

.disactive {
  opacity: 0.5;
  cursor: not-allowed;
  background: #f0f0f0;
}

.ant-btn-default:hover {
  color: #000 !important;
  border-color: #00c700 !important;
  background: #ffffff !important;
}

.ant-float-btn {
  inset-block-end: auto !important;
  inset-block-start: 30px !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn  {
  color: #00c700 !important;
}