.nav-bar-down{
    box-shadow: 0 -1px 3px 0.1px rgb(165, 165, 165);
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #f1f1f1;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
  }
  
  .nav-btn{
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(114, 114, 114);
    font-weight: 550;
    width: 33%;
  }
  
  .nav-btn:hover{
    color: #ff8912;
  }
  